<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        shopping
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'all_products' %}" class="nav-link px-2 link-secondary">Home</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Category
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'my-store' %}">All</a></li>
          {% for c in categories %}
          <li>
            <a class="dropdown-item" href="{% url 'category_list' c.slug%}"> {{ c.name|title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>

      <li><a href="{% url 'my-store' %}" class="nav-link px-2">Store</a></li>
      <li><a href="#" class="nav-link px-2">Pricing</a></li>
      <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-2 text-center">
      <small class="m-0 text-center me-2"> wellcome guest</small><br>
      <a type="button" class=" me-2">Login</a>|
      <a type="button" class="">Register</a>
    </div>

    <a href="{% url 'cart'%}" class="widget-header pl-3 ml-3 position-relative">
      <div class="icon icon-lg rounded-circle border"><i class="fa-solid fa-cart-shopping"></i></div>
      <span class="badge badge-pill badge-danger notify position-absolute top-0 end-0">{{cart_count}}</span>
  </a>
  </header>
</div>




 
        

       